<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<body>
    <h1>{{>header}}</h1>

    <form action="">
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>

    <p id="para-1"></p>
    <p id="para-2"></p>

    <h2>{{>footer}}</h2>
    <script src="/js/js.js"></script>

</body>

</html>